<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LiluCam.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>LiluCamTV.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>828B0E951BD89A72006A994E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>828B0EA51BD89A72006A994E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>828B0EB01BD89A72006A994E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>828E7115185CE3F800EA1F48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>828E7139185CE3F900EA1F48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
